html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body {
  background-image: url('background2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  overflow: hidden;
  border: 3px;
}
