html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body  {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#main {
    flex-grow: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  flex-grow: 0;
}


/* Style the links inside the navigation bar */
.topnav a {
    flex-grow: 0;
    flex-shrink: 0;
    color: #f2f2f2;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0491aa;
  color: white;
}


